/* synth pad section */
#sp { width: 22.75em; height: 25em; margin: 0; padding: 2em; float: left; }
#sp div {
	width: 10em;
	height: 10em;
	margin-bottom: 1em;
	display: inline-block;
	background: #fca13f;
	box-shadow: rgba(0, 0, 0, 0.0980392) -6px 6px 0px 0px inset;
}
#sp div:nth-child(odd) { margin-right: 1em; }
#sp div:active { background: #248aaf; }